<div class="row">
  <div class="col">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipes of recipe">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{recipes.name}}</h4>
        <p class="list-group-item-text">{{recipes.description}}</p>
      </div>
      <div class="float-right">
        <img src="{{recipes.imagePath}}" alt="img" class="img-responsive" style="max-height: 50px;">
      </div>
    </a>

    <app-recipe-item></app-recipe-item>
  </div>
</div>

